$royal-blue: #4169e1;
$nav-bg: #212529;
$outline: rgb(207, 226, 243);
$white-color: #dae1e8;
$header-shadow: linear-gradient(45deg, rgba(10, 9, 9, 0.8), rgba(9, 2, 2, 0.6));
$slider-dots: rgba(255, 255, 255, 0.4);
$border-form: rgba(0, 0, 0, 0.2)