@use '../abstracts/mixins';
@use '../abstracts/colors';
.header{
    position: relative;
    margin-top: 50px;
    width: 100%;

    &__img{
        height: 70vh;
    }

    &__img-one{
        @include mixins.heroImages('../img/main-carousel-1.jpg');
    }
    &__img-two{
        @include mixins.heroImages('../img/main-carousel-2.jpg');
    }
    &__img-three{
        @include mixins.heroImages('../img/main-carousel-3.jpg');
    }
    &__img-shadow{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: colors.$header-shadow;
    }

}