@use '../abstracts/colors';
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	padding: 0.7em;
	background-color: colors.$nav-bg;
	-webkit-tap-highlight-color: transparent;
	z-index: 100;
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__logo {
		font-size: 1.8rem;
		padding: 0.2em 0.5em;
		border: 0.5px solid transparent;
		&:focus {
			outline: none;
			color: colors.$outline;
			border: 0.5px solid colors.$outline;
			border-radius: 7px;
		}
	}
	&__logo-icon,
	&__logo-span {
		color: colors.$royal-blue;
	}
	&__logo-icon {
		margin-right: 0.1em;
	}

	&__btn {
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: none;
		overflow: hidden;
		border: .7px solid transparent;
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: none;
			border: 0.7px solid colors.$outline;
			border-radius: 5px;
		}
	}
	&__btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0.2em;
	}
	&__bars {
		font-size: 2rem;
		color: colors.$white-color;
	}
	&__items {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 170px;
		padding: 0 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		font-size: 2rem;
		background-color: colors.$nav-bg;
		transform: translateY(-200%);
		transition: transform 0.93s;
	}
	&__link {
		padding: 0.1em 0;
	}

	&__items--active {
		transform: translateY(0);
	}
}
