@use '../abstracts/colors';
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	padding: 0 1em;
	background-color: colors.$nav-bg;
	-webkit-tap-highlight-color: transparent;
	z-index: 100;
	&__box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__logo:link {
		font-size: 2rem;
		&:hover {
			cursor: pointer;
		}
		&:active {
            color: unset;
		}
        &:focus {
            outline: none;
            border: 0.7px solid colors.$outline;
            border-radius: 7px;
        }
	}
    &__logo-text{
        padding: 0 0.5em;
    }
	&__logo-icon,
	&__logo-span {
		color: colors.$royal-blue;
	}
	&__logo-icon {
		margin-right: 0.1em;
	}

	&__btn {
		width: 30px;
		height: 30px;
		padding: 0.5em;
		background-color: transparent;
		border: none;
		overflow: hidden;
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: none;
			border: 0.7px solid colors.$outline;
			border-radius: 5px;
		}
	}
	&__btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0.2em;
	}
	&__bars {
		font-size: 2rem;
		color: colors.$white-color;
	}
	&__items {
		position: absolute;
		top: 40px;
		width: 100%;
		padding: 0 .5em;
		display: flex;
		flex-direction: column;
		font-size: 2rem;
		background-color: colors.$nav-bg;
		transform: translateY(-200%);
		transition: transform .93s;
		z-index: -10;
	}
	&__link{
		padding: .3em 0;
	}

	&__items--active{
		transform: translateY(0);
	}

}
