@use '../abstracts/colors';
@media (min-width: 996px) {
	.nav {
		height: 70px;
		padding: 1em 0;
		&__btn {
			display: none;
		}
		&__logo:link {
			font-size: 3rem;
		}
		&__items {
		position: static;
			flex-direction: row;
			width: auto;
			height: auto;
			font-size: 3rem;
            transform: translateY(0);
		}
		&__link {
            padding: 0.2em 0.5em;
            border: 0.5px solid transparent;
			&:focus {
				outline: none;
				color: colors.$outline;
				border: 0.5px solid colors.$outline;
				border-radius: 7px;
			}
		}
	}
}
