@media (min-width: 996px){
    .nav{
        height: 50px;
        &__btn{
            display: none;
        }
        &__logo:link{
            font-size: 3rem;
        }
        &__items{
            position: static;
            flex-direction: row;            
            transform: translateY(0);            
            width: auto;
            font-size: 3rem;
            // font-size: 2rem;
        }
        &__link{
            padding: 0 0.5em;
            &:focus{
                outline: none;
                color: aliceblue;
            }
        }
    }
}