@use '../abstracts/colors';
.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-padding{
    padding: 3em 1em;
}
.section-title{
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: colors.$white-color;
}
.page-header{
    margin-top: 50px;
	width: 100%;
	height: 210px;
	overflow: hidden;
}


.hero-shadow{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: colors.$header-shadow;
        z-index: -10;
}

.hero-text{
    font-size: 1.4rem;
}

.section-heading{
    font-size: 2rem;
    margin-bottom: 0.5em;
}