@use '../abstracts/mixins';
@use '../abstracts/colors';
.about-us {
	a:target{
		transition: scroll 5s;
	}
	&__header {
		margin-top: 50px;
		width: 100%;
		height: 200px;
		overflow: hidden;

		&-hero {
			position: relative;
			width: 100%;
			height: 100%;
			@include mixins.heroImages('../img/about/hd-wallpaper-2025863_640.jpg');
			background-position: bottom;
		}

		&-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.frost {
	padding: 1em;
	&__title {
		margin-bottom: 0.5em;
		font-size: 2rem;
		font-weight: 400;
	}
	&__text {
		margin-bottom: 0.5em;
		font-size: 1.6rem;
		text-align: justify;
	}
}
.section-passion {
	background-color: #eceae9;
	padding: 0 2em;
	box-shadow: inset 5px 5px 10px rgb(0 3 6 / 40%);

	.passion {
		overflow: hidden;
		&__box {
			padding: 1em;
			&--right {
				text-align: right;
			}
		}
		&__title {
			font-size: 2.2rem;
			text-transform: uppercase;
			text-decoration: underline colors.$royal-blue 2px;
			margin-bottom: 0.5em;
		}
		&__text {
			font-size: 1.4rem;
		}
		&__img {
			padding: 0 0.5em;
			width: 100%;
			height: 300px;
			object-fit: cover;
			object-position: center;
		}
	}
}
.cards{
	&__box{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 1em;
		color: colors.$white-color;
	}
	&__card{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 1.5em;
		margin: 1em;
		&:nth-child(odd){
			background-color: #212529;
		}
		&:nth-child(even){
			background-color: #0d6efd;
		}
	}
	&__icon{
		font-size: 3rem;
		align-self: center;
		text-align: center;
		width: 40%;
		padding: 1em;
	}
	&__info{
		width: 60%;
		padding: 1em;
		text-align: left;
	}
	&__title{
		font-size: 2rem;
		margin-bottom: 0.5em;
	}
	&__text{
		font-size: 1.4rem;
	}
}
